

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h3 style="color: #9d55e6, text-align: center" >Groomwell Salon Services </h3>
  <hr>
  <p>
  Subject: Service Provider Registration Success!
  </p>
  Hi <%= @spcontact.name %>,
<p>
Thank you for choosing to be part of GroomWell Salon Services. Now you can login, create your salon details, add the services you offer. Once the business goes online we are sure you will start getting more business. </p>
<p> For any queries please contact Customer Care at info@groomwell.in.
</p>

<p>Team GroomWell</p>
<hr>
    <h5 style=" text-align: center" >GroomWell Salon Services © 2023 </h5>
 </body>
</html>
